@use 'src/styles/vars';

.profil {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-size: vars.$title;
    border-top: vars.$borderTop;
    padding-top: vars.$paddingTop;
    margin: vars.$marginTitle;
  }

  &__infos {
    display: flex;
    flex-flow: column;
    width: 85%;
    &__items {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin: 1rem 0;
      &-title {
        text-decoration: underline;
        width: 30%;
      }
      &-content {
        text-align: right;
        width: 70%;
      }
    }
  }
}
