@use 'src/styles/vars';

.cgv {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  &-title {
    font-size: vars.$title;
    max-width: 90%;
    border-top: 1px solid black;
    padding-top: 0.2rem;
    margin: 2rem 0;
  }

  &__article {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    &-title {
      font-size: vars.$sub-title;
      border-top: 1px solid black;
      padding-top: 0.2rem;
      margin-bottom: 1rem;
    }
    &-content {
      width: 85%;
      margin-bottom: 2rem;
    }
  }
}
