// ! BACKGROUND COLOR
$bg-home-page-beige: #FFEADB;

// ! BUTTON
$button-green: #65938B;
$button-orange: #FF9A76;

// ! TEXT
$text-dark-blue: #1C213C;

// ! TITLE
$title: 2.5rem;
$sub-title: 1.4rem;

// ! CATEGORY
$mode: #1C213C;
$beaute: #65938B;
$alimentation: #FFEADB;
$services: #FF9A76;
$loisirs: #ccd463;
$maison: #9c715d;
