@use 'reset';
@use 'vars';

@font-face {
  font-family: 'eina01Regular';
  src: url(../assets/fonts/Eina01/Eina01-Regular.ttf);
}

@font-face {
  font-family: 'eina01Bold';
  src: url(../assets/fonts/Eina01/Eina01-Bold.ttf);
}

@font-face {
  font-family: 'eina01Light';
  src: url(../assets/fonts/Eina01/Eina01-Light.ttf);
}

@font-face {
  font-family: 'eina01Light';
  src: url(../assets/fonts/Eina01/Eina01-SemiBold.ttf);
}

body {
  font-family: vars.$regular, sans-serif;
}
