@use 'src/styles/vars';

.signup {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  &-title {
    font-size: vars.$title;
    text-align: center;
    border-top: 1px solid black;
    padding-top: 0.2rem;
    margin: 2rem 0;
  }

  &__modal {
    background-color: white;
    border: 1px solid black;
    position: absolute;
    height: 35%;
    margin: auto;
    width: 85%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0.5rem;
    &-title {
      font-size: 2rem;
    }
    &-text {
      font-size: vars.$sub-title;
      text-align: center;
    }
    &-button {
      border: none;
      background-color: white;
      font-size: 1.2rem;
      padding: 0;
    }
  }

  &__form {
    display: flex;
    flex-flow: column;
    align-items: center;
    &-items {
      font-size: 1.8rem;
      margin: 1.5rem 0;
      padding: 0.5rem 0.8rem;
    }
    &-button {
      border: none;
      background-color: vars.$button-orange;
      margin: 1.5rem 0 3rem 0;
      padding: 0.8rem 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: vars.$text-dark-blue;
      width: 10em;
    }
  }
}
