@use 'src/styles/vars';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 1rem;
  position: relative;

  &-logo{
    height: 4rem;
  }

  &-button {
    border: none;
    background-color: white;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {

  }
}

@media screen and (min-width: 768px) {
  .header {

  }
}
