@use 'src/styles/vars';

.footer {
  background-color: vars.$dark-blue;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;

  &__reseau {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    width: 10rem;

    &-icon {
      height: 2.5rem;
    }
  }

  &__adress {
    margin: 1rem;
    border-top: 1px solid white;
    padding-top: 0.3rem;

    &-name {
      font-size: 1rem;
    }
  }

  &__pages {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    &-link {
      margin: 1rem 2rem;
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
    justify-content: space-around;
  
    &__reseau {
  
      &-icon {

      }
    }
  
    &__adress {
  
      &-name {
      }
    }
  
    &__page {
  
      &-link {
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-evenly;
    padding: 0;
    &__reseau {
  
      &-icon {

      }
    }
  
    &__adress {
  
      &-name {
      }
    }
  
    &__page {
  
      &-link {
      }
    }
  }
}
