@use 'src/styles/vars';

.icons {
  display: flex;
  justify-content: space-between;

  &-items {
    height: 3rem;
    
    &-link {
      position: relative;
    }
    &-link::after {
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      padding: 0.2rem;
      border-radius: 50%;
      content: attr(current-count);
      background-color: red;
      color: white;
    }
  }

  &-button {
    border: none;
    background-color: white;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .icons {

  }
}

@media screen and (min-width: 768px) {
  .icons {

  }
}
